@media (max-width: 768px) {
  .landing-page-container {
    .text-container {
      width: 260px;
      font-size: 18px;
      padding: 75px 0 50px 0;
    }
    .banner-container {
      img {
        width: 250px;
      }
    }

    .button {
      font-size: 18px;
      width: 313px;

      p {
        padding-top: 15px;
      }

      i {
        font-size: 36px;
      }
    }
  }
}

@media (min-width: 768px) {
  .landing-page-container {
    .text-container {
      width: 45vw;
      max-width: 575px;
      font-size: 30px;
      padding-top: 55px;
    }
    .banner-container {
      img {
        width: 20vw;
        max-width: 300px;
      }
    }

    .button {
      font-size: 30px;
      width: 35vw;
      max-width: 385px;
      margin-left: 10vw;

      p {
        padding: 35px 15px 0 15px;
      }

      i {
        font-size: 65px;
      }
    }
  }
}

.button-container a {
  text-decoration: none;
  color: black;
}
