@media (min-width: 768px) {
  .user-assessments-container {
    margin: 50px auto;
    width: 75%;
    word-break: break-all;

    .company-name-image-container {
      h3 {
        font-size: 20px;
      }

      .image-container {
        height: 200px;
        width: 200px;
        margin-right: 10px;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .user-assessments-container {
    margin: 25px auto;
    width: 95%;
    word-break: break-all;

    .company-name-image-container {
      h3 {
        font-size: 16px;
      }

      .image-container {
        height: 100px;
        width: 100px;
        margin-right: 5px;
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.user-assessments-container {
  .accordion-body {
    margin: 0;
    padding: 0;

    button {
      width: 250px;
      display: block;
    }
  }
}
