.template-container {
  height: 100vh;
  a {
    text-decoration: none;
    color: black;
  }

  .log-in-out-button {
    border: none;
    background-color: transparent;
  }

  #logo {
    transform: translateY(14px);
    width: 123px;
  }

  .links-container {
    img {
      border-radius: 50%;
      width: 50px;
      margin-top: 25px;
    }

    p {
      margin-left: 10px;
    }
  }

  .user-container {
    div {
      transform: translateY(14px);
    }
  }

  .template-footer {
    background-color: #dee2e6;
    margin-top: auto;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .template-container {
    .footer-text-container {
      a {
        margin-right: 50px;
      }
    }
    .social-media-container {
      i {
        font-size: 38px;
      }
    }
  }
}

@media (max-width: 768px) {
  .template-container {
    .footer-text-container {
      font-size: 12px;
      a {
        margin-right: 10px;
      }
    }

    .social-media-container {
      i {
        font-size: 28px;
      }
    }
  }
}
