@media (min-width: 768px) {
  .star {
    font-size: 30px;
    color: goldenrod;
    text-align: right;
  }

}

@media (max-width: 768px) {
  .star {
    font-size: 20px;
    color: goldenrod;
    text-align: center;
  }

}

@media (min-width: 768px) {
  .logo {
    width: 200px;
  }

}

@media (max-width: 768px) {
  .logo {
    width: 200px;
  }

}