@media (min-width: 768px) {
  .ranking-companies-view {
    .ranking-average-container {
      h4 {
        font-size: 20px;
        text-align: end;
      }
    }
    .logo-container {
      height: 200px;
      width: 200px;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    .company-card-container {
      position: relative;
      .see-detail-companies-container {
        position: absolute;
        font-size: 15px;
        right: 0;
        transform: translateY(-10px);
      }
    }
  }
}

@media (max-width: 768px) {
  .ranking-companies-view {
    .ranking-average-container {
      min-width: 190px;
      h4 {
        font-size: 15px;
        text-align: center;
      }
    }

    .logo-container {
      height: 100px;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }

    .company-card-container {
      position: relative;
      .see-detail-companies-container {
        position: absolute;
        font-size: 12px;
        right: 0;
        transform: translateY(-10px);
      }
    }
  }
}
